<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 安装应用权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 发送通知权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 读取图片权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- 读取视频权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- 读取音频权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- 前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.NOTIFICATION_SERVICE" /> <!-- 读取外部存储 -->
    <!-- Android 13 target 32 以上不需要手动授权 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- 写入外部存储 -->
    <!-- Android 13 target 32 以上不需要手动授权 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" /> <!-- 获取精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 开启网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许访问wifi状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许修改网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许修改wifi状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/security_config"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="tiramisu">
        <!-- 当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name=".activity.SkinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestActivity"
            android:configChanges="uiMode"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.VideoFullActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LaunchActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true"
            android:launchMode="singleTop" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:exported="true" />
        <activity
            android:name=".compose.ThirdLibActivity"
            android:exported="false" />

        <activity
            android:name=".compose.AlbumActivity"
            android:exported="false" />

        <service
            android:name=".service.NewsService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    </application>

</manifest>