<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Android 13 or higher, posting a permission requires holding the POST_NOTIFICATIONS permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 安装应用权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 读取图片权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- 读取视频权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- 读取音频权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- 前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 读取外部存储 -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" /> <!-- 悬浮框权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 通知栏展开 -->
    <!-- Android 13 target 32 以上不需要手动授权 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- 写入外部存储 -->
    <!-- Android 13 target 32 以上不需要手动授权 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" /> <!-- 开启网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许修改网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 高德定位所需 -->
    <!-- 允许获取精确位置，精准定位必选 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 允许获取粗略位置，粗略定位必选 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许获取设备和运营商信息，用于问题排查和网络定位（无gps情况下的定位），若需网络定位功能则必选 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许获取网络状态，用于网络定位（无gps情况下的定位），若需网络定位功能则必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许获取wifi网络信息，用于网络定位（无gps情况下的定位），若需网络定位功能则必选 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许获取wifi状态改变，用于网络定位（无gps情况下的定位），若需网络定位功能则必选 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 后台获取位置信息，若需后台定位则必选 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 用于申请调用A-GPS模块,卫星定位加速 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 允许写设备缓存，用于问题排查 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activity.MusicDownloadActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MusicMvActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/DefaultCityPickerTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.IntroduceActivity"
            android:exported="false" /> <!-- 高德定位key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7f0d79866211bd1622b599d4ffae5a73" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activity.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false"
            android:launchMode="singleTask" /> <!-- 当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name=".activity.SkinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VideoFullActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LaunchActivity"
            android:exported="true" />
        <!--
        在项目的AndroidManifest.xml文件中界面对应的里
        加入android:windowSoftInputMode="stateVisible|adjustResize"，
        这样会让屏幕整体上移。如果加上的是
        android:windowSoftInputMode="adjustPan"这样键盘就会覆盖屏幕。
        -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/DefaultCityPickerTheme"
            android:windowSoftInputMode="adjustPan" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".compose.ThirdInfoActivity"
            android:exported="false" />

        <service
            android:name=".service.MusicNotifyService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="service.action.play_pre" />
                <action android:name="service.action.play_next" />
                <action android:name="service.action.play" />
                <action android:name="service.action.pause" />
                <action android:name="service.action.complete" />
                <action android:name="service.action.prepare" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MusicPlayService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="service.action.play_pre" />
                <action android:name="service.action.play_next" />
                <action android:name="service.action.state" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="wy_notification_action" />
            </intent-filter>
        </receiver> <!-- 声明provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.wy.news.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>